:root{
  --blue-gradient-vertical: linear-gradient(172deg, #0CD6CB 0%, #597FFF 100%);
  --primary-font-family: 'Open Sans';

  --teal: #0CC0AD;
  --border-color: #DDE3EE;
}

*{
  box-sizing: border-box;
}

body{
  font-family: var(--primary-font-family), sans-serif;
}

.App{
  width:100%;
  height:100vh;
  background: #0C1131;
  display:flex;
  position: absolute;
  z-index: -1;
}

button{
  background-color: transparent;
  border:none;
}

.gradient-text{
    font-weight: 600;
    background: var(--blue-gradient-vertical);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bold{
  font-weight:600;
}


